 /*
 * @Date: 2024-01-08 11:03:15
 * @LastEditors: XQxiaoqvan xiaoqvandd@qq.com
 * @LastEditTime: 2024-01-12 21:48:45
 */
 /* 字体引入 */
 
 @font-face {
     font-family: 'UnidreamLED';
     src: url('../font/UnidreamLED.ttf') format('truetype');
     /* 替换为你的字体文件路径和格式 */
 }
 
 html,
 body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }
 /* 悬浮提示窗 */
 
 .iziToast>.iziToast-body .iziToast-title {
     font-size: 16px !important;
 }
 
 .iziToast {
     border-radius: 50px !important;
 }
 
 .iziToast-body .iziToast-message {
     line-height: 18px !important;
 }
 
 .iziToast>.iziToast-body .iziToast-message {
     margin: 6px 0px 4px 0px !important;
 }
 
 .iziToast:after {
     box-shadow: none !important;
 }
 
 .iziToast>.iziToast-body .iziToast-texts {
     margin: 6px 6px !important;
     display: flex !important;
     align-items: center;
 }
 
 .iziToast>.iziToast-body i {
     margin-left: 6px;
     margin-top: 10px;
 }
 
 .iziToast-message {
     word-break: break-all !important;
 }
 /* 背景 */
 
 .bg-all {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
 }
 
 .bg-all img {
     object-fit: cover;
     width: 100%;
     height: 100%;
 }
 
 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.167);
 }
 /* 背景END */
 /* 主体 */
 
 .main-all {
     overflow: hidden;
     margin: 200px 0;
 }
 
 .main {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 0 190px;
     height: 100%;
 }
 /* 第一屏 */
 
 .tx-all {
     width: 100%;
     height: auto;
     transition: display 0.5s ease;
     /* 添加过渡效果 */
 }
 /* 头像 */
 
 .tx {
     background-color: rgba(255, 255, 255, 0.687);
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin: 0 0px;
 }
 
 .tx img {
     margin-top: 30px;
     width: 150px;
     height: 150px;
     border-radius: 500px;
 }
 
 .tx h1 {
     margin-top: 0;
     margin-bottom: 10px;
 }
 
 .tx-content {
     margin-bottom: 10px;
 }
 
 .tx-content p {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
 }
 /* 一言 */
 
 .hitokoto-all {
     background-color: rgba(255, 255, 255, 0.687);
     border-radius: 20px;
     height: 100%;
     padding: 20px;
     margin: 10px 0;
 }
 
 .hitokoto-text {
     text-align: left;
 }
 
 .hitokoto-from {
     text-align: right;
 }
 /* 社交信息 */
 
 .relation {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px;
 }
 
 .relation div {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(255, 255, 255, 0.687);
     border-radius: 10px;
     width: 50px;
     height: 50px;
     margin: 0 10px;
 }
 
 .relation i {
     font-size: 26px;
 }
 
 .relation a {
     text-decoration: none;
     color: inherit;
 }
 /* 第二屏 */
 
 .main-2 {
     display: flex;
     align-items: center;
     width: 100%;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 0 60px;
 }
 
 .fanjv {
     background-color: rgba(255, 255, 255, 0.687);
     border-radius: 10px;
     width: 500px;
     /* 设置容器宽度 */
     overflow: hidden;
     /* 隐藏溢出内容 */
 }
 /* 第三屏 */
 
 .main-3 {
     width: 100%;
     height: auto;
 }
 /* 时间 */
 
 .timeshow {
     box-sizing: border-box;
     width: 100%;
     padding: 14px;
     background-color: rgba(255, 255, 255, 0.687);
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .time-text {
     font-size: 55px;
     font-family: 'UnidreamLED', sans-serif;
     margin: 0;
 }
 
 .time-info {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 0 70px;
 }
 /* 音乐播放器 */
 
 .music-bfq {
     box-sizing: border-box;
     background-color: rgba(255, 255, 255, 0.687);
     border-radius: 20px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
     width: 100%;
     margin-top: 10px;
     flex-wrap: nowrap;
 }
 
 .music-bfq img {
     width: 90px;
     height: 90px;
     border-radius: 10px;
 }
 
 .music-info {
     text-align: center;
     /* 让子元素在容器中水平居中 */
 }
 
 .player-info {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 200px;
     padding: 5px;
     display: inline-block;
     /* 让元素变成行内块元素 */
 }
 
 .music-content {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     align-items: center;
     margin: 0 40px;
 }
 
 .music-content h1,
 .music-content p {
     margin: 0;
 }
 
 .music-content h1 {
     font-size: 20px;
 }
 
 .music-progress {
     width: 100%;
     margin: 0 0;
 }
 
 .music-progress progress {
     width: 100%;
 }
 /* 进度条 */
 
 .music-progress-bar {
     appearance: none;
     height: 10px;
     border-radius: 10px;
     background: rgba(255, 255, 255, 0.582);
     overflow: hidden;
 }
 
 .music-progress-bar::-webkit-progress-value {
     background: linear-gradient(90deg, #0f0, #0ff);
     border-radius: 10px;
 }
 
 .music-progress-bar::-webkit-progress-bar {
     background-color: rgba(255, 255, 255, 0.582);
     border-radius: 10px;
 }
 
 .music-button {
     display: flex;
     align-items: center;
 }
 
 .music-button i {
     margin: 8px 8px;
     font-size: 24px;
 }
 
 .fas.fa-pause.fa-xs {
     display: none;
 }
 /* 歌词 */
 
 .lyric {
     box-sizing: border-box;
     background-color: rgba(255, 255, 255, 0.687);
     border-radius: 20px;
     -webkit-box-orient: vertical;
     overflow: hidden;
     -webkit-line-clamp: 2;
     padding: 15px;
     width: 100%;
     text-align: center;
     margin: 10px 0;
 }
 
 .color-text {
     text-align: center;
     font-size: 15px;
     /* 设置背景透明色 */
     background-image: -webkit-linear-gradient(left, blue, #66ffff 10%, #cc00ff 20%, #CC00CC 30%, #CCCCFF 40%, #00FFFF 50%, #CCCCFF 60%, #CC00CC 70%, #CC00FF 80%, #66FFFF 90%, blue 100%);
     /* 改变background-size是为了让动画动起来 */
     background-size: 200% 100%;
     /* 按照文字拆分背景 */
     -webkit-background-clip: text;
     /* 将字体设置成透明色 */
     -webkit-text-fill-color: transparent;
     /* 启用动画 */
     animation: masked-animation 4s linear infinite;
 }
 
 @keyframes masked-animation {
     0% {
         background-position: 0 0;
     }
     100% {
         background-position: -100% 0;
     }
 }
 /* 播放器END */
 /* 天气 */
 
 .weather {
     box-sizing: border-box;
     background-color: rgba(255, 255, 255, 0.687);
     border-radius: 20px;
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 15px;
     width: 100%;
 }
 
 .weather-icon img {
     width: 80px;
     height: 80px;
     margin: 0 18px;
 }
 
 .weather-content {
     margin: 0 18px;
 }
 /* 移动页面按钮 */
 
 .media-switchover {
     display: none;
 }
 /* 底部 */
 
 footer {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     background-color: #33333384;
     color: #fff;
     font-size: 16px;
     position: absolute;
     bottom: 0;
 }
 
 footer a {
     text-decoration: none;
     color: inherit;
     margin: 10px 0;
 }