/*
 * @Date: 2024-01-09 14:43:34
 * @LastEditors: XQxiaoqvan xiaoqvandd@qq.com
 * @LastEditTime: 2024-01-12 22:05:25
 */


/* 主体 */

.media-switchover div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.687);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.media-switchover i {
    font-size: 26px;
}


/* 手机适配 */

@media only screen and (max-width: 800px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
    }
    .main-all {
        overflow: hidden;
        margin: 20px 0;
        transition: margin 0.3s ease;
    }
    .iziToast {
        width: 70%!important;
        transition: width 0.3s ease;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 12px;
        height: 100%;
        transition: margin 0.3s ease;
    }
    .relation {
        margin-top: 5px;
        transition: margin-top 0.3s ease;
    }
    .main-2 {
        display: none;
        transition: display 0.3s ease;
    }
    .fanjv {
        width: 100%;
    }
    .main-3 {
        display: none;
        margin-top: 5px;
        margin-left: 0px;
        transition: margin-top 0.3s ease, margin-left 0.3s ease;
        flex-direction: column;
    }
    .music-content {
        margin: 0 10px;
        transition: margin 0.3s ease;
    }
    .media-switchover {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
    }
    .made {
        display: none;
        transition: display 0.3s ease;
    }
    footer {
        position: fixed;
        transition: position 0.3s ease;
    }
}


/* 在小于420px的宽度下隐藏星期 */

@media (max-width: 410px) {
    .relation div {
        margin: 0;
    }
    .time-info {
        margin: 0;
    }
    .music-content h1 {
        font-size: 16px;
        width: 200px;
    }
    .fanjv-times p {
        margin: 0 3px;
        font-size: 15px;
    }
}

@media (max-width: 390px) {
    .music-content h1 {
        font-size: 15px;
        width: 150px;
    }
    footer {
        font-size: 12px;
    }
    .fanjv-times div p {
        font-size: 14px;
    }
}


/* 平板横屏适配 */

@media only screen and (min-width: 800px) and (max-width: 1360px) {
    .main-2 {
        display: none;
        transition: width 0.3s ease;
    }
    .main-3 {
        margin-left: 50px;
        transition: width 0.3s ease;
    }
}


/* 高度600-700设备适配 */

@media only screen and (min-height: 600px) and (max-height: 700px) {
    /* 主体 */
    .main-all {
        overflow: hidden;
        margin: 100px 0;
        transition: width 0.3s ease;
    }
    .main {
        padding: 14px;
    }
}

@media only screen and (max-height: 700px) and (max-width: 800px) {
    /* 主体 */
    .main-all {
        margin: 0 0;
        transition: width 0.3s ease;
    }
}


/* 高度600以下设备适配 */

@media only screen and (max-height: 600px) {
    /* 主体 */
    .main-all {
        overflow: hidden;
        margin: 20px 0;
        transition: width 0.3s ease;
    }
}


/* 高度500以下设备适配 */

@media only screen and (max-height: 500px) {
    .main-all {
        transform-origin: top;
        /* 设置变换的原点在顶部 */
        transform: scale(0.8);
        width: 100%;
        overflow: visible;
    }
}


/* 高度400以下设备适配 */

@media only screen and (max-height: 400px) {
    .main-all {
        transform-origin: top;
        /* 设置变换的原点在顶部 */
        transform: scale(0.7);
        width: 100%;
        overflow: visible;
    }
    .main-2 {
        display: block;
    }
}


/* 低高度300设备适配 */

@media only screen and (max-height: 300px) {
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        /* 防止滚动条出现 */
    }
    .main-all {
        transform-origin: top;
        /* 设置变换的原点在顶部 */
        transform: scale(0.5);
        width: 100%;
        overflow: visible;
    }
    .main {
        width: 100%;
        margin: 0 0;
    }
    .main-2 {
        display: block;
    }
}