
.Toastify__toast{
    border-radius: 150px !important;
    box-shadow: 0px 0px 10px 5px rgba(104, 104, 104, 0.591) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    padding: 10px !important;
    pointer-events: none !important;
}
.Toastify{
    pointer-events: none !important;
}
:root{
    /* 字体颜色 */
    --toastify-text-color-light: #2e2e2e !important;;
    /* 背景颜色 */
    --toastify-color-light:  rgba(255, 255, 255, 0.4) !important;

}