/* BY: xiaoqvan
* 2024-1-1
* Copyright © 2023 萌喵次元社版权所有
*/

@media only screen and (max-width: 700px) {
    .login-all {
        margin-left: 1%;
        /* 左边距为5% */
        margin-right: 1%;
        /* 右边距为5% */
    }
}

@media only screen and (max-width: 1000px) {
    .login-all {
        margin-left: 10%;
        /* 左边距为5% */
        margin-right: 10%;
        /* 右边距为5% */
    }
}